body{
    margin: 0;
    overflow-x: hidden;
}
.main{
    width: 1050;
    height: auto;
    /* border: 5px solid; */
    margin: 0px;

}
.header{
    width: 100%;
    height: 60px;
    /* border: 2px solid; */
    display: inline-flex;

}
.logo{
    width: 220px;
    height: 100%;
    /* border: 1px solid ; */
}
.logo img{
    width: auto;
    height: 80%;
    cursor: pointer;
    margin: 10px ;
}
.try-it-now{
    cursor: pointer;
    width: 85%;
    text-align-last: right;
    /* border: 1px solid;  */
    
}
.try-it-now button{
    width:150px;
    height: 80%;
    background-color:#df6531;
    border: none;
    color: white;
    margin: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #df6531;
    border-radius: 300px;
}
.try-it-now button:hover{
    background-color:#df6531;
    color: white;
}
.center{
    width: 100%;
    height: 480px;
    /* border: 2px solid; */
}
.info-div{
    width: 40%;
    height: 75%;
    /* border: 1px solid; */
    margin: auto;
    /* display: flex; */
    padding: 30px; 
}
.info-div h1{
    position: relative;
    z-index: 2;
}
.info-div p{
    position: relative;
    z-index: 1;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    color: #777777;
    margin: 20px;
}
.btn-div{
    
    height: 70px;
    width: 250px;
    /* border: 1px solid; */
    padding: 15px;
    margin: auto;
}
.center-btn{
    height:100%;
    width: 100%;
    align-items: center;
    border-radius: 400px;
    background-color:#f9c349;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.scrolling-div {
    width: 100%;
    overflow: hidden;
    /* border: 1px solid; */
}

.scroll {
    display: flex;
    animation: scrollAnimation 20s linear infinite; /* Adjust the animation duration */
}

.scroll img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the spacing between images */
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.center2{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    
    padding: 30px;
    /* border: 1px solid; */
  
}
.img{
    height: 100%;
    width: 50%;
    /* border: 1px solid; */
    float: left;
    padding: 5px;
}
.img img{
    height: 100%;
    width: 100%;
}
.descreption{
    height: 100%;
    /* width: 50%; */
    margin-left: 50%;
    padding: 5px;
    /* border: 1px solid; */
}
.descreption h1{
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}
.descreption p{
    padding: 10px;
    color: #777777;
    font-size: large;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.descreption span{
    padding: 10px;
    color: #777777;
    font-size: large;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Benefits{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    padding: 30px;
}
.middle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid; */
    /* margin: 20px; */
  }
  
  .mid {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
  }
  
  .mid img{
    width: 90px;
    height: 90px;
    padding: 2px;
    /* border: 1px solid; */
}
  
  .mid h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .mid p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
  }

.Native_Advertising{
    /* border: 1px solid red; */
    width: 92%;
    height: 450px;
    margin: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px;
}
.native_box{
   width: 100%;
   height: 350px;
   /* border: 1px solid red; */
    display: grid;
    margin: auto;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 5px;
}
.Native_line{
    text-align: center;
}
.sub_native{
    padding: 20px;
    width: auto;
    height: 300px;
    text-align: center;
    /* border: 1px solid red; */
}

.sub_native h1{
    /* padding: 20px; */
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  #373434;
}
.sub_native hr{
    margin-bottom: 15px;
    color: #373434;
}
.sub_native p{
    color:  #373434;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 10px;
}
.brand{
    height: 200px;
    width: 80%;
    /* float:left; */
    /* margin-top: 50px; */
    margin: auto;
    padding: 50px;
    /* border: 1px solid; */
}
.brand h1{
    padding: 10px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:  #2a2727;
}
.brand p{
    align-items: center;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    color:  #373434;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.reach_audience{
    width: 85%;
    height: 110px;
    /* border: 1px solid; */
    margin: auto;
    background-color: #dd6633;
    border-radius: 20px;
    padding: 10px;
    
    
}
.para{
    width: 60%;
    height: 100%;
    /* border: 1px solid; */
    float: left;
    padding: 3px;
    color: #1E1810;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}
.para p{
     /* margin-top: 35px; */
     text-align: center;
     margin: 12px;
}
.btn{
    width: 38%;
    height: 100%;
    /* border: 1px solid; */
    float: right;
    padding: 3px;
}
/* ------------------------------- */

@media screen and (max-width: 800px) {
    .main {
      height: auto;
      width: 1050px;
      margin:5px;
      /* border: 1px solid red; */
    }
    .header{
        /* height: auto; */
        width: 100%;
        height: 60px;
        /* border: 2px solid; */
        display: inline-flex;
    }
    .logo{
        width: 220px;
        height: 100%;
        /* border: 2px solid red ; */
    }
    .logo img{
        width: auto;
        height: 80%;
        cursor: pointer;
        margin: 5px ;
    }
    .try-it-now{
        cursor: pointer;
        width: 85%;
        text-align-last: right;
        /* border: 1px solid red;  */
        
    }
    .try-it-now button{
        width:150px;
        height: 80%;
        background-color:#df6531;
        border: none;
        color: white;
        margin: 5px;
        /* padding: 16px 32px; */
        text-align: center;
        /* text-decoration: none; */
        /* display: inline-block; */
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 2px solid #df6531;
        border-radius: 300px;
    }
    .try-it-now button:hover{
        background-color:#df6531;
        color: white;
    }
    .center{
        width: 100%;
        height: 500px;
        margin: 20px;
        /* border: 2px solid red; */
    }
    
    .descreption h1{
        padding: 10px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    }
    .descreption p{
        padding: 10px;
        color: #777777;
        font-size: x-large;
        font-weight: 100;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .info-div{
        width: 40%;
        height: 75%;
        /* border: 1px solid red; */
        margin: auto;
        /* display: flex; */
        padding: 30px; 
    }
    .info-div h1{
        position: relative;
        z-index: 2;
        text-align: center;
    }
    .info-div h3{
        text-align: center;
    }
    .info-div p{
        position: relative;
        z-index: 1;
        margin: 10px;
        font-size: large;
        font-weight: bold;
        color: #777777;
        margin: 20px;
        text-align: center;
    }
    .btn-div{
    
        height: 50px;
        width: 200px;
        /* border: 1px solid red; */
        padding: 10px;
        margin: auto;
    }
    .center-btn{
        height:100%;
        width: 100%;
        align-items: center;
        border-radius: 400px;
        background-color:#f9c349;
        font-size: large;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .scrollong-div{
        height: 120px;
        width: 100%;
        /* border: 1px solid red; */
        
    } 
    .center2{
        height: 600px;
        width: 85%;
        margin: auto;
        padding: 5px;
        margin-top: 50px;
        /* border: 1px solid; */
      
    }
    .middle{
        width:auto;
        /* border: 2px solid blue; */
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-gap: 1px;
        margin: 15px;
        
    }
    .mid{
        display: inline-block;
        /* border: 1px solid aquamarine; */
        padding: 1rem 1rem;
        width: 470px;
        height: 400px;
        margin: auto;
        /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
        /* border: 1px solid red; */
        /* flex-direction:row; */
        /* float: left; */
    }
    .mid h4 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      .mid p {
        font-size: 20px;
        color: #555;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
      }
    .Native_Advertising{
        /* border: 1px solid red; */
        width: 90%;
        height: 500px;
        margin: 50px 20px 10px 40px;
    }
    .native_box{
       width: 100%;
       /* border: 1px solid red; */
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .Native_line{
        text-align: center;
    }
    .sub_native{
        width: 250px;
        height: 250px;
        /* border: 1px solid red; */
    }
    .brand h1{
        padding: 10px;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color:  #2a2727;
    }
    .brand p{
        align-items: center;
        margin: 20px;
        font-size: large;
        font-weight: bold;
        color:  #373434;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        
    }
    .reach_audience{
        /* border: 2px solid blue; */
        display: grid;
        width: 650px;
        grid-template-columns:1fr 1fr;
        grid-gap: 2px;
    }
    .para{
        width: 400px;
        height: 110px;
        float: left;
        
        /* border: 1px solid green; */
    }
    .para p{
        /* margin-top: 35px; */
        font-size: x-large;
        font-weight: bold;
   }
    .btn-div{
       padding: 20px;
        /* border: 1px solid green; */
    }
}
   /* footer css */


   .footer {
    background-color: #1E1810; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.footer a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.footer p {
    margin: 10px 0; /* Adjusted margin for paragraphs */
}

.divfooter {
    margin-top: 20px;
}

.footer-link {
    display: inline; /* Ensure the copyright text is inline with other content */
    margin: 0; /* Remove any default margin */
}

.footer-link {
    color: var(--secondary);
    display: inline-flex;
    align-items: center;
    &:not(:first-child) {
      margin: 0 0.25rem;
    }
    &:not(:last-child) {
      &:after {
        content: '';
        display: inline-block;
        background: var(--gray);
        height: 12px;
        width: 1px;
        margin: 0.5rem;
      }
    }
  }
  .footer-last-child {
    align-items: flex-end;
  }